body {
  padding-top: 50px;
}

.profile_pic {
  max-height: 50px;
  width: auto;
}

.spacer { 
  margin-top: 40px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/* centered columns styles */
.center-block {
  float: none;  
}

.faint-text {
  color: gray;
}

.fainter-text {
  color: lightgray;
}

.login-buttons-container {
  text-align: center;
}